#createUsers{
    padding: 10px;
    border: 5px;
    border-color: black;
    border-style:ridge;
    border-radius: 15%;
    width: 350px;
    margin: 0 auto; 
}
#createUserHeader {
    margin-top:2px;
    font-size: larger;
    color: black;
    background-color: darkgrey;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}
#createUser>* {
    background-color: lightgray;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
}


#submitBtn {
    background-color:darkgray;
    border-radius: 10%;
    grid-column: span 2;
    grid-row: 3;
}
#submitBtn:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}