#createPolls {
    display: flex;
    padding: 2%;
    border: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 15%;
    width: 350px;
    margin: 0 auto;
    background-color: lightblue;
    align-content: space-around;
    flex-direction: column;

} 
#createPolls > * {
    margin: 0 auto; 
    width: 90%;
    box-sizing: border-box;
}
#createPollHeader {
    margin-top: 2px;
    font-size: larger;
    color: black;
    background-color: darkgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
